@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/$safeprojectname$.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.1.42/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/26.1.42/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        @{
            Dictionary<string, object> ButtonAttribute = new Dictionary<string, object>();
            ButtonAttribute.Add("aria-label", "menu");   
            
            List<object> menuDPServices = new List<object>();
            @* menuDPServices.Add(new { text = "Transfer Pricing", url = @Url.Action("Benchmarking","Service"), }); *@
            menuDPServices.Add(new { text = "Transfer Pricing", });
            menuDPServices.Add(new { text = "Other", });

            List<object> menuDPTentang = new List<object>();
            menuDPTentang.Add(new { text = "Profil Perusahaan", });
            menuDPTentang.Add(new { text = "Team Kami", });
            menuDPTentang.Add(new { text = "Karir", });

            List<object> menuDPInfo = new List<object>();
            menuDPInfo.Add(new { text = "Profil Perusahaan", });
            menuDPInfo.Add(new { text = "Team Kami", });
            menuDPInfo.Add(new { text = "Karir", });
        }
        
        <div class="row" style="height: 70px;">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" style="padding-left: 30px; padding-top: 10px;">
                <img src="~/image/Logo.svg"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6" style="text-align: right;">
            </div>
        </div>

        <div class="col-lg-12 control-section color-appbar-section">
            <div class="color-appbar-container">
                <div class="row">
                    <div class="col-md-12">
                    @(Html.EJS().AppBar("defaultAppBar").ColorMode(AppBarColor.Primary).Position(AppBarPosition.Top).IsSticky(true).ContentTemplate(
                        @<div>
                            @Html.EJS().Button("lightButtonMenu").HtmlAttributes(ButtonAttribute).CssClass("e-inherit menu").IconCss("e-icons e-menu").Render()
                            @Html.EJS().Button("lightButtonHome").CssClass("e-inherit home e-appbar-menu").Content("HOME").Render()
                            @Html.EJS().DropDownButton("lightProductDropDownTentang").CssClass("e-inherit e-light e-appbar-menu").Content("TENTANG KAMI").Items(menuDPTentang).Render()
                            @Html.EJS().DropDownButton("lightProductDropDownServices").CssClass("e-inherit e-light e-appbar-menu").Content("JASA KAMI").Items(menuDPServices).Render()
                            @Html.EJS().Button("lightButtonPembanding").CssClass("e-inherit about e-appbar-menu").Content("DATA PEMBANDING").Render()
                            @Html.EJS().DropDownButton("lightProductDropDownInfo").CssClass("e-inherit e-light e-appbar-menu").Content("INFO PERPAJAKAN").Items(menuDPInfo).Render()
                            @Html.EJS().Button("lightButtonKontak").CssClass("e-inherit about e-appbar-menu").Content("KONTAK KAMI").Render()
                            
                            <div class="e-appbar-spacer"></div>
                            <div style="width: 200px; margin-right:10px">
                                 <span class="e-input-group e-control-wrapper e-inherit">
                                      <input type="text" class="e-searchinput e-input" placeholder="Search">
                                      <span class="e-icons e-search e-input-group-icon"></span>
                                  </span>
                            </div>
                            <div class="e-appbar-separator"></div>
                            @Html.EJS().Button("primaryButtonLogin").CssClass("e-inherit login").Content("Login").Render()

                        </div>).Render())
                    </div>
                </div>
            </div>
        </div>

        <script>

            document.getElementById("lightButtonHome").addEventListener('click', function () {
                location.href = '@Url.Action("Index","Home")';
            });
            document.getElementById("lightButtonPembanding").addEventListener('click', function () {
                location.href = '@Url.Action("Benchmarking","Service")';
            });
            
        </script>
        <style>
            #defaultAppBar .e-btn.e-inherit {
                margin:0 3px;
            }
        </style>
            
    </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy;Copyright 2024 PT Central Data Access. All Rights Reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion ASP.NET MVC Script Manager -->
    @Html.EJS().ScriptManager()
</body>
</html>
