@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/$safeprojectname$.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.1.42/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/26.1.42/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        @{
            Dictionary<string, object> ButtonAttribute = new Dictionary<string, object>();
            ButtonAttribute.Add("aria-label", "menu");   
            
            List<object> menuDPServices = new List<object>();
            menuDPServices.Add(new { text = "Benchmarking", url = @Url.Action("Benchmarking","Service"), });
            menuDPServices.Add(new { text = "Other", });

            List<object> menuDPTentang = new List<object>();
            menuDPTentang.Add(new { text = "Profil Perusahaan", });
            menuDPTentang.Add(new { text = "Team Kami", });
            menuDPTentang.Add(new { text = "Karir", });

            List<object> menuDPInfo = new List<object>();
            menuDPInfo.Add(new { text = "Profil Perusahaan", });
            menuDPInfo.Add(new { text = "Team Kami", });
            menuDPInfo.Add(new { text = "Karir", });
        }
        
        <div class="col-lg-12 control-section default-appbar-section">
            @(Html.EJS().AppBar("lightAppBar").ColorMode(AppBarColor.Light).ContentTemplate(
                @<div>
                @Html.EJS().Button("lightButtonMenu").HtmlAttributes(ButtonAttribute).CssClass("e-inherit menu").IconCss("e-icons e-menu").Render()
                @Html.EJS().Button("lightButtonHome").CssClass("e-inherit home e-appbar-menu").Content("HOME").Render()
                @Html.EJS().DropDownButton("lightProductDropDownTentang").CssClass("e-inherit e-light e-appbar-menu").Content("TENTANG KAMI").Items(menuDPTentang).Render()
                @Html.EJS().DropDownButton("lightProductDropDownServices").CssClass("e-inherit e-light e-appbar-menu").Content("JASA KAMI").Items(menuDPServices).Render()
                @Html.EJS().Button("lightButtonPembanding").CssClass("e-inherit about e-appbar-menu").Content("BENCHMARKINNG").Render()
                @Html.EJS().DropDownButton("lightProductDropDownInfo").CssClass("e-inherit e-light e-appbar-menu").Content("INFO PERPAJAKAN").Items(menuDPInfo).Render()
                @Html.EJS().Button("lightButtonKontak").CssClass("e-inherit about e-appbar-menu").Content("KONTAK KAMI").Render()
                @* <div class="e-appbar-spacer"></div>
                @Html.EJS().Button("lightButtonLogin").IsPrimary(true).CssClass("login").Content("Login").Render() *@
            </div>).Render())
        </div>

        <script>
            document.getElementById("lightButtonHome").addEventListener('click', function () {
                location.href = '@Url.Action("Index","Home")';
            });
        </script>
            
    </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy;Copyright 2024 PT Central Data Access. All Rights Reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<ejs-scripts></ejs-scripts>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion ASP.NET MVC Script Manager -->
    @Html.EJS().ScriptManager()
</body>
</html>
